<template>
  <section class="article">
    <h1>Article</h1>
    <div class="container">
      <ul class="row article__list">
        <li class="col-12 col-md-6" v-for="post in posts" :key="post.id">
          <div class="article__listItem">
              <div class="content">
                <h5 class="title">
                  {{post.title | truncate(70) }}
                </h5>
                <p>{{post.body | truncate(100) }}</p>
              </div>
              <div class="image" style="background-image: url('https://placeimg.com/640/480/any')">
              </div>
          </div>
        </li>
      </ul>
      <div class="loadMore">
        <button 
          class="btn btn-primary loadMore" 
          @click="getMorePost()">
            Zobacz więcej
        </button>
    </div>
    </div>
    
  </section>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      posts: [],
      limit: 2,
      isLoading: false
    }
  },
  created() {
    this.getPosts(this.limit);
  },
  methods: {
    getPosts (limit) {
      axios.get('http://jsonplaceholder.typicode.com/posts', {
        params: {
          _limit: limit
        }
      })
      .then(response => {
        this.isLoading = true
        this.posts = response.data
        this.isLoading = false
      })
      .catch(e => {
        this.errors.push(e)
      })
    },
    getMorePost () {
      this.limit += 2
      this.getPosts(this.limit);
    }
  }
}
</script>

<style lang="scss" scoped>
  .article {
    padding: 10px 0 50px;
    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    &__list {
      padding-left: 0px;
      list-style-type: none;
      text-align: center;
      margin-bottom: 30px;
      li {
        padding: 20px;
      }
      &Item {
        text-align: center;
        height: 100%;
        border-radius: 1px;
        border: 1px solid #D6D6D6;
        background: #F3F3F3;
        box-shadow: 0 0 72px 5px rgba(0,0,0,.23);
        transition: all 0.2s;
        &:hover, &:focus {
          background: #e44549;
        }
        .content {
          padding: 20px;
          min-height: 150px;
          p {
            margin-bottom: 0px;
          }
        }
        .image {
          background-size: cover;
          background-position: center;
          min-height: 250px;
        }
      }
    }
  }
  .loadMore {
    text-align: center;
  }
</style>
