<template>
  <section class="benefits">
    <div class="container">
      <ul class="row benefits__list">
        <li class="col-12 col-sm-6 col-md-3" v-for="benefit in benefits" :key="benefit.id">
          <div class="benefits__listItem">
              <i :class="benefit.icon"></i>
              <h4>{{benefit.title}}</h4>
              <p>{{benefit.description}}</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      benefits: [
        {
          title: 'Testy A/B',
          icon: 'fab fa-accusoft',
          description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.'
        },
        {
          title: 'Testy A/B',
          icon: 'fab fa-accusoft',
          description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.'
        },
        {
          title: 'Testy A/B',
          icon: 'fab fa-accusoft',
          description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.'
        },
        {
          title: 'Testy A/B',
          icon: 'fab fa-accusoft',
          description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.'
        },
        {
          title: 'Testy A/B',
          icon: 'fab fa-accusoft',
          description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.'
        },
        {
          title: 'Testy A/B',
          icon: 'fab fa-accusoft',
          description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.'
        }
      ]
    }
  },
}
</script>

<style lang="scss">
  .benefits {
    padding: 50px 0 30px;
    &__list {
      margin-bottom: 0px; 
      padding-left: 0px;
      list-style-type: none;
      li {
        padding: 20px !important;
      }
      &Item {
        cursor: pointer;
        background: white;
        box-shadow: 0 0 72px 5px rgba(0,0,0,.23);
        padding: 10px;
        height: 100%;
        border-radius: 2px;
        transition: all 0.2s;
        &:hover, &:focus {
          background: #e44549;
        }
        i {
          color: #235ECA;
        }
        p {
          margin-bottom: 0px;
          font-size: 12px;
        }
      }
    }
  }
</style>
