<template>
  <section class="features">
    <div class="container">
      <h1>Most important features</h1>
      <div class="row features__list">
        <div class="col-12 col-md-4">
          <ul>
            <li class="features__listTitle" v-for="(feature,i) in features" :key="feature.id" @mouseover="handleHover(i)">{{feature.title}}</li>
          </ul>
        </div>
        <div class="col-12 col-md-8">
          <div class="features__listDescription">
            <p v-if="index == index">{{features[index].description}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      index: 0,
      features: [
        {
          title: 'Personal messagin',
          description: 'Charm your receipients with a personal touch.'
        }, 
        {
          title: 'Complex flows',
          description: 'Create nurturing queues, double opt-ins etc. thanks to a strong automation base.'
        },
        {
          title: 'Layouts',
          description: 'Design emails even faster with predefined templates that just wait to be filed.'
        },
        {
          title: 'Panel analityczny',
          description: 'Improve performance using A/B tests and tracking opens, clicks and unsubscribes.'
        }
      ]
    }
  },
  methods: {
    handleHover(i) {
      this.index = i;
    }
  }
}
</script>

<style lang="scss" scoped>
  .features {
    padding: 10px 0 50px;
     h1 {
        text-align: center;
        margin-bottom: 50px;
      }
    &__list {
      ul {
        padding-left: 0px;
        list-style-type: none;
        margin-bottom: 0px;
      }
     
      &Title {
        background: white;
        border-radius: 2px;
        box-shadow: 0 0 72px 5px rgba(0,0,0,.23);
        margin-bottom: 20px;
        padding: 10px;
        transition: all 0.2s;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        @media (min-width: 768px) {
          &:last-child {
            margin-bottom: 0px;
          }
        }
        &:hover, &:focus {
          background: #e44549;
        }
      }
      &Description {
        border-radius: 2px;
        background: white;
        box-shadow: 0 0 72px 5px rgba(0,0,0,.23);
        height: 100%;
        min-height: 200px;
        p {
          margin-bottom: 0px;
        }
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
</style>
