<template>
  <section class="pomodoro">
    <div class="container">
      <div class="row">
        <div class="col-12 timer">
          <div class="timer__time">
            <span class="minutes">{{ minutes }}</span>
            <span class="middle">:</span>
            <span class="seconds">{{ seconds }}</span>
          </div>
          <div class="timer__actions">
            <button 
              class="btn btn-warning start" 
              v-if="!timer && finish"
              @click="startTimer">
                <i class="fas fa-play"></i>
            </button>
            <button 
              class="btn btn-warning stop" 
              v-if="timer && finish"
              @click="stopTimer">
                <i class="fas fa-pause"></i>
            </button>
            <button 
              class="btn btn-warning reset"  
              v-if="resetButton"
              @click="resetTimer">
                <i class="fas fa-undo"></i>
            </button>
            <button 
              class="btn btn-warning edit" 
              @click="editChangeTime">
                <i class="fas fa-edit"></i>
            </button>
            
          </div>
        </div>
      </div>
    </div>
      <div class="notifications">
        {{title}}
      </div>
      <div class="editTime" v-if="showChangeTime">
        <div class="container">
          <div class="input-group mb-3">
            <input type="number" class="form-control" v-model="number" placeholder="Wpisz ilość minut">
            <div class="input-group-append">
              <button class="btn btn-primary" @click="changeTime" type="submit">Zmień</button>
            </div>
          </div>
        </div>
      </div>
  </section>
</template>

<script>
export default {
  data () {
      return {
        timer: null,
        showChangeTime: false,
        number: 25,
        totalTime: (25 * 60),
        resetButton: false,
        finish: true,
        title: "Aby zacząć należy wcisnąć przycisk play!"
      }
  },
  methods: {
    editChangeTime () {
        this.showChangeTime = true;
    },
    changeTime () {
      this.totalTime = this.number * 60;
      this.showChangeTime = false;
    },
    startTimer () {
      this.timer = setInterval(() => this.countdown(), 1000);
      this.resetButton = true;
      this.finish = true;
      this.title = "Czas wystartował!"
    },
    stopTimer () {
      clearInterval(this.timer);
      this.timer = null;
      this.finish = true;
      this.resetButton = true;
      this.title = "Czas został zatrzymany. Jeśli chcesz wznowić czas wciśnij z powrotem przycisk play!"
    },
    resetTimer () {
      this.totalTime = this.number * 60;
      clearInterval(this.timer);
      this.timer = null;
      this.finish = true;
      this.resetButton = false;
      this.title = "Czas został zrestartowany. Jeśli chcesz rozpocząć jeszcze raz to wciśnij przycisk play!"
    },
    setTimer () {
    },
    finishTimer () {
      this.finish = false;
      this.title = "Gratulacje. Zasłużyłeś na przerwę!"
    },
    padTime (time) {
      return (time < 10 ? '0' : '') + time;
    },
    countdown () {
      if(this.totalTime >= 1){
        this.totalTime--;
      } else{
        this.totalTime = 0;
        this.finishTimer()
      }
    }
  },
  computed: {
    minutes: function() {
      const minutes = Math.floor(this.totalTime / 60);
      return this.padTime(minutes);
    },
    seconds: function() {
      const seconds = this.totalTime - (this.minutes * 60);
      return this.padTime(seconds);
    }
  }
}
</script>

<style lang="scss" scoped>
  .pomodoro {
    overflow: hidden;
    padding: 50px 0;
    @media (max-width: 768px) {
      padding: 150px 0;
    }
    background: #e44549;
    position: relative;
    &:before {
      @media (max-width: 768px) {
        left: 50%;
        top: -110px;
        transform: translateX(-50%) scale(0.6) rotate(-15deg);
      }
      position: absolute;
      content: url('../assets/pomodoro.png');
      top: -105px;
      left: -40px;
      transform: rotate(-30deg);
    }
    .timer {
      text-align: center;
      &__time {
        span {
          font-weight: 700;
          font-size: 40px;
        }
      }
    }
    .notifications {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 0px;
      position: absolute;
      right: 20px;
      @media (min-width: 768px) {
        top: 20px;
      }
      font-size: 15px;
      padding: 20px;
      bottom: 20px;
      border-radius: 2px;
      background: white;
      box-shadow: 0 0 72px 5px rgba(0,0,0,.23);
      width: 280px;
      @media (max-width: 768px) {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        height: 110px;
        width: 310px;
      }
    }
    .editTime {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        display: flex;
        background: #e44549;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

  }
</style>
