<template>
  <section class="slider">
    <div class="wrapper">
      
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="image" :class="{ 'active': index === i }" v-for="(slide, i) in slider" :key="slide.id">
            <img :src="getImage(i)" alt="">
        </div>
      </div>
      <div class="col-12 col-lg-4">
          <ul class="row justify-content-center">
            <li class="col-6" v-for="(slide, i) in slider" :key="slide.id" @mouseover="handleHover(i)">
              <div class="header" :class="{ 'active': index === i }">
                {{slide.header}}
              </div>
            </li>
          </ul>
      </div>
      <div class="col-12 col-lg-4">
        <div id="carouselExample" class="carousel slide" data-interval="false">
      <ol class="carousel-indicators" >
          <li data-target="#carouselExample" @click="changeCarousel(i)" :class="{ 'active': index === i }" v-for="(slide, i) in slider" :key="slide.id" :data-slide-to="i"></li>
      </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item text-center p-4" :class="{ 'active': index === i }" v-for="(slide, i) in slider" :key="slide.id">
              <h4>{{slide.title}}</h4>
              <p>{{slide.description}}</p>
          </div>
        </div>
  </div>
      </div>
    </div>
  </div>
    </div>
  </section>
</template>

<script>
export default {
 data() {
    return {
      index: 0,
      slider: [
        {
          header: '1',
          title: 'Slider 1',
          description: 'Opis slider 1',
          imageUrl: './assets/slider1.png'
        },
        {
          header: '2',
          title: 'Slider 2',
          description: 'Opis slider 2',
          imageUrl: './assets/slider2.png'
        },
        {
          header: '3',
          title: 'Slider 3',
          description: 'Opis slider 3',
          imageUrl: './assets/slider3.png'
        },
        {
          header: '4',
          title: 'Slider 4',
          description: 'Opis slider 4',
          imageUrl: './assets/slider4.png'
        }
      ]
    }
 },
 methods: {
   getImage(i) {
     i++;
     return require('../assets/slider' + i + '.png');
   },
    handleHover(i) {
      this.index = i;
    },
    changeCarousel(i) {
      this.index = i;
    }
  }
}
</script>

<style lang="scss" scoped>
  .slider {
    padding: 100px 0;
    .wrapper {
      background: #B2B2B2;
      position: relative;
    }
    ul {
      li {
        padding: 10px;
      }
    }
    .header {
      background: white;
      box-shadow: 0 0 72px 5px rgba(0,0,0,.23);
      text-align: center;
      border-radius: 2px;
      padding: 20px;
      cursor: pointer;
      transition: all 0.2s;
      &.active {
        background: #e44549;
      }
      &:hover, &:focus {
        background: #e44549;
      }
    }
    .carousel {
      height: 100%;
    }
    .carousel-item {
      height: 150px;
    }
    .carousel-indicators {
      margin: 0px;
      li {
        &.active {
          background: #e44549;
        }
      }
    }
    .image {
      @media (max-width: 992px) {
        display: none !important;
      }
      display: none;
      &.active {
        display: block;
      }
      position: absolute;
      box-shadow: 0 0 72px 5px rgba(0,0,0,.23);
      top: 50%;
      transform: translateY(-50%);
    }
  }
</style>
