<template>
  <section class="welcome">
      <div class="jumbotron">
        <h1>Happy Birthday {{name}}, we wish you all the best!</h1>
        <p>We' ve prepared a gift you can collect with your next purchase!</p>
        <div class="jumbotron__box">
            <div class="jumbotron__price">
              <h2>{{price}}</h2>
              <div>
                <p>Off anything in-store</p>
                <p>{{date}}</p>
              </div>
            </div>
            <p>Gift code</p>
            <div class="jumbotron__gift">
              <span>{{giftCode}}</span>
            </div>
        </div>
        <div class="bg"></div>
      </div>
  </section>
</template>

<script>
export default {
 data() {
    return {
      name: 'Anna',
      giftCode: 'ADCMKFJSDI321SFSXS',
      date: 'DECEMBER 31, 2018',
      price: '$15'
    }
 }
}
</script>

<style lang="scss" scoped>
  .welcome {
    .jumbotron {
      margin-bottom: 0px;
      text-align: center;
      background: #e44549;
      color: white;
      border-radius: 0px;
      position: relative;
      .bg {
        background-image: url('../assets/welcome-pattern.png');
        background-repeat: repeat-x;
        width: 100%;
        height: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 1;
        opacity: 0.8;
        &:after {
          position: absolute;
          background-image: linear-gradient(#e44549,rgba(0,0,0,0));
          content: '';
          right: 0;
          left: 0;
          top: 0;
          height: 100px;
          z-index: 2;
        }
      }
      &__box {
        position: relative;
        z-index: 3;
        text-align: left;
        max-width: 280px;
        margin: 0 auto;
        p {
          margin-bottom: 0px;
        }
      }
      &__price {
        background: white;
        padding: 20px;
        border-radius: 2px;
        height: 150px;
        color: black;
        margin-bottom: 80px;
        box-shadow: 0 0 72px 5px rgba(0,0,0,.23);
        p {
          font-size: 12px;
        }
        h2 {
          font-weight: 700;
          margin: 20px 0;
        }
      }
      &__gift {
        color: black;
        background: white;
        max-width: 280px;
        height: 35px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
</style>
