<template>
  <div id="app">
    <Welcome/>
    <Benefits/>
    <Features/>
    <Slider/>
    <Article/>
    <Pomodoro/>
  </div>
</template>

<script>
import Welcome from './components/Welcome'
import Features from './components/Features'
import Slider from './components/Slider'
import Benefits from './components/Benefits'
import Article from './components/Article'
import Pomodoro from './components/Pomodoro'

export default {
  name: 'App',
  components: {
    Welcome,
    Features,
    Slider,
    Benefits,
    Article,
    Pomodoro,
  }
}
</script>

<style style="scss">
  ul {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
  }
</style>
